apiVersion: v1
kind: ConfigMap
metadata:
  name: order-configmap
  namespace: tech-challenge
  labels:
    app: order
data:
  DB_HOST: "$DB_HOST"
  DB_PORT: "$DB_PORT"
  DB_USERNAME: "$DB_USERNAME"
  DB_PASSWORD: "$DB_PASSWORD"
  PRODUCT_SERVICE_HOST: "http://tech-challenge.products.cluster.local:8080/v1/orders"
  KITCHEN_SERVICE_HOST: "http://tech-challenge.kitchen.cluster.local:8080/v1/orders"
  PAYMENT_SERVICE_HOST: "http://tech-challenge.payment-service.cluster.local:8080/v1/orders"
  CUSTOMER_SERVICE_HOST: "http://tech-challenge.customer-service.cluster.local:8080"
  PAYMENT_STATUS_UPDATED_QUEUE_URL: ""
  ORDER_READY_QUEUE_URL: ""
  START_PREPARATION_QUEUE_URL: ""